{% if venue.address %}{% assign venue_address = venue.address %}{% endif %}
{% if venue.city %}{% assign venue_address = venue_address | append: "</br>" | append: venue.city %}{% endif %}
{% if venue.state %}{% assign venue_address = venue_address | append: ", " | append: venue.state %}{% endif %}
{% if venue.zip %}{% assign venue_address = venue_address | append: " " | append: venue.zip %}{% endif %}

<div class="row">
  <div class="col-sm-6 col-lg-6">
    <ul>
      {% if venue_address %}<li>{{venue_address}}</li>{% endif %}
      {% if venue.phone %}<li>{{venue.phone}}</li>{% endif %}
      {% if venue.email %}<li><a href="mailto:{{venue.email}}">{{venue.email}}</a></li>{% endif %}
      {% if venue.website %}<li><a href="{{venue.website}}">{{venue.name}}'s Website</a></li>{% endif %}
    </ul>
  </div>
  <div class="col-sm-6 col-lg-6">

{% if venue.lat and venue.lon %}
  <a href="//www.google.com/maps/place/{{venue.address}},+{{venue.city}},+{{venue.state}},+{{venue.zip}}">
    <img src="//b.tiles.mapbox.com/v3/examples.map-i87786ca/pin-m-music+48C({{venue.lon}},{{venue.lat}})/{{venue.lon}},{{venue.lat}},15/300x225.png"/>
  </a>
{% endif %}
  </div>
</div>
