---
layout: default
type: Shows
---
<div class="post">

  <h4><a href="#" onclick="window.history.back();return false;">&laquo; Back</a></h4>

  <header class="post-header">
    <h1>{{page.band.name}}</h1>
  </header>
  <div class="row">
    <div class="col-sm-6 col-lg-6">
      <ul>
        {% if page.band.website %}<li><a href="{{page.band.website}}">{{page.band.name}}'s Website</a></li>{% endif %}
      </ul>
      {{ content }}
    </div>
    <div class="col-sm-6 col-lg-6">
      {% if page.band.image %}<img class="show-image" src="{{page.band.image}}" />{% endif %}
    </div>
  </div>

    <div class="home">
      <h4>Upcoming Shows with {{page.band.name}}:</h4>
    <ul class="posts show-list">
      {% assign sorted_posts = site.posts | sort:"date" %}
      {% for post in sorted_posts %}
        {% assign today = 'now' | date: "%Y%m%d" %}
        {% assign post_date = post.date | date: "%Y%m%d" %}
        {% if post.categories contains 'shows' and today | minus: 1 <= post_date and post.show.bands contains page.band.name %}
          {% assign bands = post.show.bands | split:", " %}
          {% for band in bands %}
            {% if band == page.band.name %}
              {% assign show_date = post_date %}
              {% assign show_url = post.url %}
              {% assign show = post.show %}
              {% include show-list-row.html %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>

</div>
