---
layout: default
---

<div class="home">

  {{ content }}

  <ul class="posts show-list">
    {% assign sorted_posts = site.posts | sort:"date" %}
    {% for post in sorted_posts %}
    {% assign today = 'now' | date: "%Y%m%d" %}
    {% assign post_date = post.date | date: "%Y%m%d" %}
    {% if post.categories contains 'shows' and today <= post_date %}
        <div class="row show-list-row">
          <div class="col-sm-2 col-lg-2">
            {{ post.show.doors | date: "%b %-d, %Y" }}
          </div>
          <div class="col-sm-7 col-lg-7">
            {% assign bands = post.show.bands | split:"," %}
            <a href="{{ post.url | prepend: site.baseurl }}">{% if post.show.name %}{{post.show.name}}: {% endif %}
              {% for band in bands %}
                {{ band }}{% if forloop.first and forloop.last == false %}
                  <div id="truncate">&nbsp;&nbsp;w\
                    {% elsif forloop.last == false %},{% endif %}
                {% if forloop.last and forloop.first == false %}</div>{% endif %}
              {% endfor %}
            </a>
          </div>
          <div class="col-sm-2 col-lg-2">
            {{ post.show.venue }}
          </div>  
          <div class="col-sm-1 col-lg-1">
            {{ post.show.tickets_adv }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </posts>
</div>
