---
layout: default
type: Shows
---
<div class="post">

  <h4><a href="/shows">&laquo; Back to show list</a></h4>

  <header class="post-header">
    <p class="meta">{{ page.show.doors | date: "%B %-d, %Y" }} (Doors: {{ page.show.doors | date: "%-I:%M %p" }})</p>
    <div class="row"><div class="col-sm-6 col-lg-6">
    {% assign bands = page.show.bands | split:"," %}
    {% for band in bands %}
      {% assign link = band %}
      {% for post in site.posts %}
        {% if post.categories contains 'band' %}
          {% if band contains post.title %}
            {% assign link = "<a href='" | append: post.url | append: "'>" | append: band | append: "</a>" %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if forloop.first %}
        <h1>{{ link }}</h1>
        {% if forloop.last == false%}
        with<ul>
        {% endif %}
      {% else %}
        <li>{{ link }}{% if forloop.last == true%}</ul>{% endif %}
      {% endif %}
    {% endfor %}
  </div><div class="col-sm-6 col-lg-6">
    <img class="show-image" src="{{page.show.image}}" />
  </div></div>
  </header>

  <article class="post-content">
  {{ content }}

  {% assign venue_info = page.show.venue %}
  {% for post in site.posts %}
    {% if post.categories contains 'venue' %}
      {% if page.show.venue contains post.venue.name %}
        {% assign venue_info = "<a href='" | append: post.url | append: "'>" | append: page.show.venue | append: "</a><ul>" %}
        {% if post.venue.address %}{% assign venue_info = venue_info | append: "<li>" | append: post.venue.address | append: "</li>" %}{% endif %}
        {% if post.venue.city %}{% assign venue_info = venue_info | append: "<li>" | append: post.venue.city | append: "</li>" %}{% endif %}
        {% if post.venue.state %}{% assign venue_info = venue_info | append: "<li>" | append: post.venue.state | append: "</li>" %}{% endif %}
        {% if post.venue.zip %}{% assign venue_info = venue_info | append: "<li>" | append: post.venue.zip | append: "</li>" %}{% endif %}
        {% if post.venue.phone %}{% assign venue_info = venue_info | append: "<li>" | append: post.venue.phone | append: "</li>" %}{% endif %}
        {% assign venue_info = venue_info | append: "</ul>" %}
        {% if post.venue.lat and post.venue.lon %}
          {% assign location_map = "<a href='" | append: osm_link | append: "'><img src='//b.tiles.mapbox.com/v3/examples.map-i87786ca/pin-m-music+48C(" | append: post.venue.lon | append: "," | append: post.venue.lat | append: ")/" | append: post.venue.lon | append: "," | append: post.venue.lat | append: ",15/300x225.png' /></a>" %}
        {% endif %}
      {% endif %}
    {% endif %}
  {% endfor %}

    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <ul>Location: {{ venue_info }}</ul>
      </div>
      <div class="col-sm-6 col-lg-6">
        {{ location_map }}
      </div>
    </div>
  <ul>
    {% for field in page.show %}
      <li>{{ field[0] }}: {{ field[1] }}</li>
    {% endfor %}
  </ul>
  </article>

</div>
