---
layout: default
type: Shows
---
<div class="post">

  <h4><a href="/shows">&laquo; Back to show list</a></h4>

  <header class="post-header">
    <p class="meta">{{ page.show.doors | date: "%B %-d, %Y" }} (Doors: {{ page.show.doors | date: "%-I:%M %p" }}{% if page.show.show_time %}, Show: {{ page.show.show_time | date: "%-I:%M %p"}}{% endif %})</p>
    <div class="row"><div class="col-sm-6 col-lg-6">
    {% assign bands = page.show.bands | split:", " %}
    {% for band in bands %}
      {% assign link = band %}
      {% for post in site.posts %}
        {% if post.categories contains 'band' %}
          {% if post.title == band %}
            {% assign link = "<a href='" | append: post.url | append: "'>" | append: band | append: "</a>" %}
          {% endif %}
        {% endif %}
      {% endfor %}
      {% if forloop.first %}
        <h1>{{ link }}</h1>
        {% if forloop.last == false%}
        with<ul>
        {% endif %}
      {% else %}
        <li>{{ link }}{% if forloop.last == true%}</ul>{% endif %}
      {% endif %}
    {% endfor %}
    <hr/>
    {% if page.show.ages %}Ages: {{page.show.ages}}{% endif %}
    <li>Tickets:</li><ul>
      {% if page.show.tickets_adv %}<li>In Advance: {{page.show.tickets_adv}}</li>{% endif %}
      {% if page.show.tickets_door %}<li>At the Door: {{page.show.tickets_door}}</li>{% endif %}
      {% if page.show.tickets_link %}<a href="{{page.show.tickets_link}}" class="btn btn-sm btn-success">Buy Tickets</a>{% endif %}
    </ul>
  <article class="post-content">
    {{ content }}
  </article>
  {% if page.show.more_info %}<a href="{{page.show.more_info}}">More Information...</a>{% endif %}
  </div><div class="col-sm-6 col-lg-6">
    <img class="show-image" src="{{page.show.image}}" />
  </div></div>
  </header>

  {% assign venue_info = page.show.venue %}
  {% for post in site.posts %}
    {% if post.categories contains 'venue' %}
      {% if page.show.venue == post.venue.name %}
        <a href="{{post.url}}">{{post.venue.name}}</a>
        {% assign venue = post.venue %}
	{% include venue-section.html %}
      {% endif %}
    {% endif %}
  {% endfor %}


</div>
