---
layout: default
type: Shows
---
<div class="post">

  <h4><a href="#" onclick="window.history.back();return false;">&laquo; Back</a></h4>

  {% assign venue = page.venue %}
  {% assign venue_url = page.url %}
  {% if venue.name_full %}
    {% assign venue_name = venue.name_full %}
    {% else %}
    {% assign venue_name = venue.name %}
  {% endif  %}

  <header class="post-header">
    <h1>{{venue_name}}</h1>
  </header>

  {% include venue-section.html %}
  {{ content }}

  <div class="home">
    <h4>Upcoming {{venue_name}} Shows:</h4>
    <ul class="posts show-list">
      {% assign sorted_posts = site.posts | sort:"date" %}
      {% for post in sorted_posts %}
        {% assign today = 'now' | date: "%Y%m%d" %}
        {% assign post_date = post.date | date: "%Y%m%d" %}
        {% if post.categories contains 'shows' and today | minus: 1 <= post_date and post.show.venue == page.venue.name %}
          {% assign show_date = post_date %}
          {% assign show_url = post.url %}
          {% assign show = post.show %}
          {% include show-list-row.html %}
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>

